
* {
	font-family: "Helvetica Neue", "Arial", sans-serif;
	}

.center {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

a,
a:visited {
	font-size: 2rem;
	color: blue;
}

a:hover {
	color: red;
}
